.tabs-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
  
  .tab-button {
    padding: 0.5rem 1rem;
    /* border: 1px solid #ddd; */
    /* border-radius: 0.25rem; */
    /* background-color: #fff; */
    cursor: pointer;
    color:#909294
  }
  
  .tab-button.active {
    background-color: white;
    color: #4C6EF5;
    /* border: 1px solid #ddd; */
    border-radius: 0.25rem;
    /* border-bottom: none; */

  }
  